/*root declares css variable which are used to sstyle borders and the colours of elements and text */
:root{
    --element_border: .25rem solid rgb(67, 67, 116);
    --primary_color: rgb(67, 67, 116);
    --secondary_color: rgb(118, 226, 215); 
    --border_rad: .15rem;
}

/* sets color of background */
*{
    background-color: rgb(224, 222, 228);
}

/* this makes it so that all links to anchors on webpage will scroll instead */
html{
    scroll-behavior: smooth;
}

/* font family declared */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* allows background shadow for all hyperlinks to ease in */
a {
    transition: all 0.5s ease-in-out;
}

/* header set to flex, space between justification allows child elements to float left and right to the edges of element.
padding added to increase size of background  */
header{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 2% 2% 2% 0;
    background-color: var(--primary_color);
}

header a{
    color: var(--secondary_color);

}

/* float left and float right added as utility classes */
.float-right{
    float: right;
}

.float-left{
    float: left;
}

/* css for the nav tag written below */

nav{

    justify-content: space-between;
    display: flex;
    width: 50%;
    background-color: var(--primary_color);
}

nav p{
    display: inline;
    text-align: center;
    color: var(--secondary_color);
    width: 24%;
    font-size: 2.5vw;
    background-color: var(--primary_color);
    margin: 0 2% 0 0;
}
/* hyperlinks given a transition timer to change between when hovers and when not hovered, down below */
nav a{
    background-color: var(--primary_color);
    transition: all 0.5s ease-in-out;
    border-radius: var(--border_rad);
}

/* css for h1 tag */

h1{
    margin: 0 0 0 2%;
    display: flex;
    font-size: 5vw;
    color: var(--secondary_color);
    background-color: var(--primary_color);
    text-decoration: none;
    margin-bottom: .5rem;

}

h1 a{
    background-color: var(--primary_color);
    transition: all 0.5s ease-in-out;
    border-radius: var(--border_rad);
}

/* css for aside tag, set to flex and be allighed to the right. */
aside{
    width: 18%;
    display: flex;
    margin: 1%;
    justify-content: flex-end;
}

/*  margin used for spacing */
.Main_Content{
    width: 75%;
    margin: 1% 0 0 0;
    justify-content: left;

}
/* sets the properties of the headshot image */
.headshot{
    width: 25%;
    object-fit: contain;
    display: inline;
    border: var(--element_border);
    margin: 0 1% 0 0;
    border-radius: var(--border_rad);
}


#about{
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0.5% 0;

}
/* used to set text to justify and font size relative to viewport */

#about p{
    text-align: justify;
    font-size: 2vw;
}



#portfolio{
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0.5% 0;
}

/* sets the style of the section headers on page */
h2{
    margin: 1%;
    width: fit-content;
    display: flex;
    color: red;
    font-size: 4vw;


}

/*  style for cards and images set here */

card_main{
    display: flex;
    width: 99.2%;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 2rem;
}

/* img title set to absolute so that it sits over the top corner of image */
img_title_main {
    flex: 1 1 90%;
    position: absolute;
    border: var(--element_border);
    background-color: var(--secondary_color);
    margin-left: .15rem;
    border-radius: var(--border_rad);
    width: auto;
    padding-right: .15rem;
    font-size: 3vw;
    
}
/* object-fit: contain preserves image dimention ratios */
.screenshot_main{
    width: 100%;
    object-fit: contain;
    display: block;
    border: var(--element_border);
    border-radius: var(--border_rad);
    justify-content: left;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
}

card_sub {
    display: flex;
    width: 45%;
    justify-content: left;
    align-items: flex-start; 

}

img_title_sub {
    flex: 1 1 40%;
    position: absolute;
    border: var(--element_border);
    background-color: var(--secondary_color);
    margin-top: .23rem;
    margin-left: .10rem;
    border-radius: var(--border_rad);
    width: auto;
    padding-right: .15rem;
    font-size: 2vw;
}

.screenshot_sub{
    width: 98%;
    object-fit: contain;
    display: flex;
    border: var(--element_border);
    border-radius: var(--border_rad);
    margin: .25rem .30%;
    transition: all 0.5s ease-in-out;
}

#contact{
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0.5% 0;
    width: auto;
    font-size: 3vw;
}

#contact .Main_Content{
    display: inline;
    font-size: 2.5vw;
}

#contact p{
    width: 100%;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--primary_color);
    padding: 2rem 0;
    width: 100%;
}

footer h3{
    text-align: center;
    color: var(--secondary_color);
    font-size: 3vw;
    background-color: var(--primary_color);
    width: 100%

}

/* pseudo classes and elements down here */

/* adds shadow-box to hyperlinks when hovered/focued */

a:hover, a:focus {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0px 0px 15px rgba(232, 102, 236, 1);
}

/* halves opacity when the images are hovered */

card_main .screenshot_main:hover, card_main .screenshot_main:focus, card_sub .screenshot_sub:hover, 
card_sub .screenshot_sub:focus {
    opacity: 0.5;
}

/* changes flex direction when the viewpord width changes (i.e. mobile phone) also justifies and aligns
 content of all of the below ids and elements to center, removes horizontal margins makes onjects max width */

@media screen and (max-width: 768px) {
    #about, #portfolio, #contact, header, nav, section, aside, footer {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }


    h1{
        font-size: 10vw;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        float: none;
    }

    card_main {
        width: 100%;
        align-items: flex-start; 
    }
 
    card_sub {
        width: 100%;
    }

    .screenshot_main  {
        width: 98%;
        margin-bottom: 2rem;
    }

    .screenshot_sub  {
        width: 97%;
        
    }
    
    #portfolio{
        margin: 0;
    }

/* removes float from the portfolio images with float when on mobile */

   #portfolio .float-left, #portfolio .float-right {
        float: none;
    }

    nav p {
        width: 35%;
        font-size: 5vw;
        margin: 0.3rem;
    }
}