:root{
    --model_border: 2px dashed black;
    --element_border: .25rem solid rgb(67, 67, 116);
    --primary_color: rgb(67, 67, 116);
    --secondary_color: rgb(215, 219, 236); 
    --border_rad: .15rem;
   
}

*{
    background-color: rgb(224, 222, 228);

    
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 2% 2% 2% 0;
    background-color: var(--primary_color);
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

a{
    background-color: var(--primary_color);
    transition: all 0.5s ease-in-out;
    border-radius: var(--border_rad);

}




h1{
    margin: 0 0 0 2%;
    display: inline;
    font-size: 200%;
    color: var(--secondary_color);
    background-color: var(--primary_color);
    text-decoration: none;

}

header a{
    color: var(--secondary_color);

}


nav{

    justify-content: space-between;
    display: flex;
    width: 45%;
    background-color: var(--primary_color);
}

nav p{
    display: inline;
    text-align: right;
    color: var(--secondary_color);
    width: 23%;
    background-color: var(--primary_color);
    margin: 0 2% 0 0;
}


nav content p{
    display: inline;
}

#about{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1% 0;
}


.headshot{
    width: 25%;
    object-fit: contain;
    display: inline;
    border: var(--element_border);
    margin: 0 1% 0 0;
    border-radius: var(--border_rad);
}


#portfolio{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1% 0;
}

#contact{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1% 0;
}

aside{
    width: 20%;
    display: flex;
    margin: 1%;
    justify-content: flex-end;
}

content{
    width: 76%;
    margin: 1% 0 0 0;

}

h2{
    margin: 1%;
    width: fit-content;
    display: inline;

}

p{
    /* padding: 0 0 0 1%; */
}

.screenshot_main{
    width: 98%;
    object-fit: contain;
    display: block;
    margin: auto; 
    border: var(--element_border);
    border-radius: var(--border_rad);
    
}

.screenshot_sub{
    width: 45%;
    object-fit: contain;
    display: flex;
    border: var(--element_border);
    border-radius: var(--border_rad);
}




footer{
    display: flex;
    justify-content: center;
    
}



/* pseudo classes and elements down here */

a:hover, a:focus {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0px 0px 15px rgba(232, 102, 236, 1);
}

